<b>title:</b> <%= @post.title %>
<br/><br/>
<b>message:</b><br/>
<%= raw @post.message %>
<br/><br/>

<% if @post.post_id.nil? %>

  <a href="<%= "/posts/new?l=#{ @post.list_id }&p=#{ @post.id }" %>"><%= COMMENT %></a>
  <br/><br/>

  <b>comments</b>
  <div id="comments">
    <% @post.posts.each do |post| %>
      <%= post.title %> <% post.short %> 
    <% end %>
  </div>

<% end %>



