<b>title:</b> <%= @post.title %>

<p>
 <%= raw @post.picture %>
</p>

<b>message:</b><br/>
<%= raw @post.message %>
<br/><br/>
<% if @post.post_id.nil? %>

  <a href="<%= "/posts/new?l=#{ @post.list_id }&p=#{ @post.id }" %>"><%= COMMENT %></a>
  <br/><br/>

          <% if @post.picture == '' %>
            <%= link_to 'add picture', {:controller =>'upload', :params=>{:p=>@post} } %>
          <% else %>
            <%= link_to 'change picture', {:controller =>'upload', :params=>{:p=>@post} } %>
          <% end %>

  <br/><br/>

  <b>&nbsp;&nbsp;comments</b><br/>
  <div id="comments">
    <% @post.posts.reverse.each do |post| %>
      <b><%= post.title %></b><br/>
      <%= post.long %><br/><br/>
    <% end %>
  </div>

<% end %>

