<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/rails.js" type="text/javascript"></script>
  <%= csrf_meta_tag %>
  <title>pdxspurs.com</title>
</head>
<body>

  <%= raw( flash_format( flash[ :notice ] ) ) %>

  <div id='nav'>
    <% if current_user -%>

          <%= current_user.name_display %> |
          <%= link_to "log out", :logout, :method => :delete %> | <a href="/">home</a> | <a href="/posts">messages</a> |
          <%= link_to "change password", edit_user_path(current_user.id)%>

       <% if current_user.admin? %>
          | <%= link_to "users", users_path %>
       <% end %> 

    <% else -%>
    
          <%= link_to "log in", :login %> | <a href="/">home</a> | <a href="/posts">messages</a> |
          <%= link_to "join this site", new_user_path %> |
          <%= link_to "forgot password?", '/password_resets/new' %>

    <% end -%>
  </div>

 <br/>

  <%= yield %>

 <br/><br/> 

</body>
</html>

